@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #589898;
  color: rgba(255, 255, 255, 0.747);
}

#dashboard {
  background-color: #1a19196d;
  padding: 20px;
  display: flexbox;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.footer {
    margin-top: auto !important; /* Moves footer to bottom */
    padding: 10px; /* Increased padding */
    text-align: center;
    font-size: 14px;
    color: #b6b4b4;
  }

