@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 300;
  background-image: url(../assets/landing.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  color: rgb(87, 91, 120);
  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: auto;
  overflow-y: auto;
  
}

#dashboard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 350px;
  height: auto;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.brand-logo {
  background: url(../assets/logo.png);
  background-size: contain;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  padding-bottom: 25px;
  padding-top: 20px;
}

p {
  padding-top: 25px;
  font-weight: 300;
  font-size: small;
}

p1 {
  font-weight: 700;
  padding-top: 45px;
  font-size: 20px;
}

.footer {
  margin-top: auto;
  padding: 10px;
  text-align: center;
  font-size: 10px;
  color: #b6b4b4;
  font-weight: 300;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

label,
input,
button {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-weight: 300;

}

label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

input:focus {
  -webkit-outline: none;
  -moz-outline: none;
  outline: none;
}

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button {
  color: white;
  margin-top: 15px;
  background: #237189;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  text-decoration: none;
  font-weight: 300;
}

button:hover {
  box-shadow: none;
}

a {
  color: white;
  margin-top: 10%;
  background: #237189;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 300;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  padding-inline: 15px;
  padding-top: 5px;
  text-decoration: none;
  font-size: small;
  font-family: "Poppins", sans-serif;
}

a:hover {
  box-shadow: none;
}

#password-requirements {
  display: none;
  /* Additional styling for the tooltip like background-color, padding, etc. */
}

#password:hover + #password-requirements {
  display: block;
}

