@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 300;
  background-image: url(../assets/landing.jpg);
  background-size: cover;
  color: rgb(87, 91, 120);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
}

#dashboard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 350px;
  height: auto;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.brand-logo {
  background: url(../assets/logo.png);
  background-size: contain;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  padding-bottom: 25px;
  padding-top: 20px;
}

p {
  padding-top: 25px;
}

p1 {
  font-weight: 700;
  padding-top: 45px;
  font-size: 20px;
}

.footer {
  margin-top: auto;
  padding: 10px;
  text-align: center;
  font-size: 10px;
  color: #6c6c6c;
  font-weight: 300;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

label,
input,
button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

input:focus {
  -webkit-outline: none;
  -moz-outline: none;
  outline: none;
}

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button {
  color: white;
  margin-top: 25%;
  background: #237189;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  text-decoration: none;
}

button:hover {
  box-shadow: none;
}

a {
  color: white;
  background: #237189;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  padding-inline: 15px;
 
  text-decoration: none;
  font-size: 12px;
}

a:hover {
  box-shadow: none;
}

